/* 通配符选择器 */
*{
    margin: 0;
    padding: 0;
}

/* 标签选择器 */
div{
    width: 200px;
    height: 200px;
    background-color: #f05;
}
/* 如果可以，尽可能的不要转换标签类型 */
span{
    display: block;
    width: 200px;
    height: 200px;
    background-color: #f05;
}

ul{
    font-size: 0;
}
li{
    font-size: 14px;
    text-align: center;
    line-height: 42px;
    display: inline-block;
    width: 120px;
    height: 42px;
    background-color: aquamarine;
}
